.name {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.description-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    padding: 10px;
    justify-items: start;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.description-container:first-child {
    border-radius: 20px 20px 0 0;
}

.description-container:last-child {
    border-radius: 0 0 20px 20px;
}

.description-container:nth-child(even) {
    background-color: #f9fafb
}

.description-container:nth-child(odd) {
    background-color: #fff
}

.icon {
    width: 19px;
    height: 19px;
}


@media screen and (max-width: 520px) {
    .name {
        column-gap: 0;
    }

    .description-container p {
        font-size: 12px;

    }

    .description-container {
        justify-items: center;

    }
}