.group-description-wrapper {
    height: 29px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    font-weight: 500;
}

.grups-wrapper {
    border-right: 1px solid #c5c7c9;
    padding: 20px 0;

}

.grups-wrapper:last-child {
    border-right: none
}

.grups-wrapper .title {
    padding-left: 10px;
}

@media screen and (max-width: 1150px) {

    .group-description-wrapper {

        grid-template-columns: 1fr 1fr;
    }

}